<h1 md-dialog-title>Change Password</h1>
<form [formGroup]="changePasswordForm">
  <div md-dialog-content style="width:500px; height:200px;">
    <md-input-container>
      <input formControlName="oldpassword" [(ngModel)]="currentPassword" type="password" mdInput placeholder="Current Password">
    </md-input-container>
    <md-input-container>
      <input formControlName="newpassword" [(ngModel)]="newPassword" type="password" mdInput placeholder="New Password">
    </md-input-container>
    <md-input-container>
      <input formControlName="confirmpassword" [(ngModel)]="confirmPassword" type="password" mdInput placeholder="Confirm Password">
      <md-error *ngIf="changePasswordForm.controls.confirmpassword.errors?.equalTo">
        Password does not match
      </md-error>
    </md-input-container>
  </div>
  <div md-dialog-actions class="pull-right">
    <button [disabled]="changePasswordForm.invalid" md-raised-button md-dialog-close="Yes" (click)="change()">Submit</button>
    <button md-raised-button md-dialog-close="No">Cancel</button>
  </div>
</form>
