<div>
  <md-sidenav-container class="md-sidenav-container">
    <md-toolbar md-is-locked-open="true" color="primary" layout="column">
      <span>
        <button class="menu" md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
      </button>
        <span>Pre-Read Admin</span> 
      </span>

      <span>
       {{username}}
        <button class="menu" md-icon-button [md-menu-trigger-for]="menu">
        <md-icon>account_box</md-icon>
      </button>
       <md-menu md-position-mode="target-right bottom" x-position="before" #menu="mdMenu">
        <button md-menu-item (click)="logout()">Logout</button>
      </md-menu>
      </span>
     
    </md-toolbar>
    <md-sidenav mode="side" class="md-sidenav-left" closed #sidenav>
      <md-nav-list>
        <div>
          <a md-list-item routerLinkActive="active" [routerLink]="['/dashboard']"><i class="fa fa-home  fa-lg"></i><span md-line>Home</span></a>
        </div>
      </md-nav-list>
      <!-- <md-divider></md-divider> -->
      <md-nav-list>
        <div>
          <a md-list-item routerLinkActive="active" [routerLink]="['/users']"><i class="fa fa-database  fa-lg"></i><span md-line>User Maintenance</span></a>
        </div>
      </md-nav-list>
      <md-nav-list>
        <div>
          <a md-list-item><i class="fa fa-tasks  fa-lg"></i><span md-line>Role</span></a>
        </div>
      </md-nav-list>
      <md-nav-list>
        <div>
          <a md-list-item><i class="fa fa-users  fa-lg"></i><span md-line>Profile Management</span></a>
        </div>
      </md-nav-list>
      <md-nav-list>
        <div>
          <a md-list-item><i class="fa fa-bar-chart  fa-lg"></i><span md-line>Statistics</span></a>
        </div>
      </md-nav-list>
      <md-nav-list>
        <div>
          <a md-list-item><i class="fa fa-gears  fa-lg"></i><span md-line>Settings</span></a>
        </div>
      </md-nav-list>
    </md-sidenav>
    <div class="mat-container-default-padd">
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>

</div>
