<form #formData='ngForm' [formGroup]="userForm">
  <div class="col-lg-12">
    <h1 md-dialog-title>{{user.id===0?'New':'Edit'}}</h1>

    <div md-dialog-content style="height:200px;">
      <div>
        <div class="col-sm-6">
          <md-input-container>
            <input required [(ngModel)]="user.firstName" formControlName="firstName" mdInput placeholder="Name">
          </md-input-container>
        </div>
        <div class="col-sm-6">
          <md-input-container>
            <input required [(ngModel)]="user.lastName" formControlName="lastName" mdInput placeholder="Surname">
          </md-input-container>
        </div>
        <div class="col-sm-6">
          <md-input-container>
            <input mdInput [(ngModel)]="user.email" formControlName="email" placeholder="Email Address">
          </md-input-container>
        </div>
        <div class="col-sm-6">
          <md-input-container>
            <input required [(ngModel)]="user.userName" formControlName="userName" mdInput placeholder="User Name">
          </md-input-container>
        </div>
      </div>
      <div>
        <div class="col-sm-6">
          <md-radio-group [(ngModel)]="role" formControlName="role">
            <md-radio-button required *ngFor="let role of roles" [value]="role.name">
              {{role.name}}
            </md-radio-button>
          </md-radio-group>
        </div>
        <div class="col-sm-6">
          <md-checkbox formControlName="lockoutenabled" *ngIf="user.id!==undefined" [(ngModel)]="user.lockoutEnabled" [checked]="user.lockoutEnabled">Is Lockout Enabled?</md-checkbox>
        </div>
      </div>

    </div>
    <div md-dialog-actions class="pull-right">
      <button md-raised-button md-dialog-close="cancel" (click)="cancel()">Cancel</button>
      <button md-raised-button md-dialog-close="save" (click)="save()">Save</button>
    </div>
    <div md-dialog-actions class="pull-left">
        <button *ngIf="user.id!==undefined" md-raised-button md-dialog-close="save" (click)="resetPassword()">Reset Password</button>
      </div>
  </div>
</form>
