<!-- <div class="modal-header">
  <h4 class="modal-title">{{userdata.id===undefined?'New User':'Edit User'}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
                <span aria-hidden="true">&times;</span>
              </button>
</div>
<div class="modal-body">
  <form #formData='ngForm' [formGroup]="userForm" class="form-horizontal ">
    <div class="row">
      <div class="form-group col-sm-8" [ngClass]="{'has-danger':userForm.controls.username.invalid && userForm.controls.username.touched}">
        <label for="username">UserName</label>
        <input required type="text" [(ngModel)]="userdata.userName" formControlName="username" class="form-control" placeholder="Enter username">
        <div class="form-control-feedback" *ngIf="userForm.controls.username.invalid && userForm.controls.username.touched">
          <small class="text-danger">User Name is required</small>
        </div>
      </div>
      <div class="form-group col-sm-6" [ngClass]="{'has-danger':userForm.controls.email.invalid && userForm.controls.email.touched}">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="userdata.email" formControlName="email" class="form-control" placeholder="Enter email">
        <div class="form-control-feedback" *ngIf="userForm.controls.email.invalid && userForm.controls.email.touched">
          <small class="text-danger">Email is required</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6" [ngClass]="{'has-danger':userForm.controls.firstname.invalid && userForm.controls.firstname.touched}">
        <label for="firstname">First Name</label>
        <input type="text" [(ngModel)]="userdata.firstName" formControlName="firstname" class="form-control" placeholder="Enter first name">
        <div class="form-control-feedback" *ngIf="userForm.controls.firstname.invalid && userForm.controls.firstname.touched">
          <small class="text-danger">First name is required</small>
        </div>
      </div>
      <div class="form-group col-sm-6" [ngClass]="{'has-danger':userForm.controls.lastname.invalid && userForm.controls.lastname.touched}">
        <label for="lastname">Last Name</label>
        <input type="text" [(ngModel)]="userdata.lastName" formControlName="lastname" class="form-control" placeholder="Enter last name">
        <div class="form-control-feedback" *ngIf="userForm.controls.lastname.invalid && userForm.controls.lastname.touched">
          <small class="text-danger">Last name is required</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="designation">Designation</label>
        <input type="text" [(ngModel)]="userdata.designation" formControlName="designation" class="form-control" placeholder="Enter designation">
      </div>
      <div class="form-group col-sm-6" [ngClass]="{'has-danger':userForm.controls.role.invalid && userForm.controls.role.touched}">
        <label for="role">Role</label>
        <select id="select" [(ngModel)]="userdata.role" formControlName="role" class="form-control" size="1">
          <option *ngFor="let role of roles" [ngValue]="role.name">{{role.name}}</option>
        </select>
        <div class="form-control-feedback" *ngIf="userForm.controls.role.invalid && userForm.controls.role.touched">
          <small class="text-danger">Role is required</small>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancel()">Close</button>
  <button type="button" *ngIf="userdata.lockoutEnabled" (click)="unlock(userdata.userName)" class="btn btn-primary">Unlock</button>
  <button type="button" [disabled]="userForm.invalid" *ngIf="userdata.id===undefined" class="btn btn-primary" (click)="insert()">Save</button>
  <button type="button" [disabled]="userdata.userName===''||userdata.userName===undefined" *ngIf="userdata.id!=undefined" class="btn btn-primary"
    (click)="update()">Update</button>
</div> -->
<h1 md-dialog-title>{{user===null?'New':'Edit'}}</h1>
<div md-dialog-content>
  <form class="example-form">
    <md-input-container class="example-full-width">
      <input   mdInput placeholder="Company (disabled)" disabled value="Google">
    </md-input-container>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input aria-label="XXXX" mdInput placeholder="First name">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="Long Last Name That Will Be Truncated">
          </md-input-container>
        </td>
      </tr>
    </table>

    <p>
      <md-input-container class="example-full-width">
        <textarea mdInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
      </md-input-container>
      <md-input-container class="example-full-width">
        <input type="text" mdInput placeholder="Address 2">
      </md-input-container>
    </p>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="City">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput placeholder="State">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="example-full-width">
            <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
            <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
          </md-input-container>
        </td>
      </tr>
    </table>
  </form>

  <form class="row example-form">
    <md-input-container class="example-full-width">
      <input type="text" mdInput md-input placeholder="Name">
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Surname">
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Email Address">
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput placeholder="User name">
    </md-input-container>
  </form>


</div>
<div md-dialog-actions>
  <button md-button md-dialog-close="Option 1">Save</button>
  <button md-button md-dialog-close="Option 2">Cancel</button>
</div>
