


// Navbar

$navbar-height:                     55px;
$navbar-bg:                         #fff;
$navbar-border: (
  bottom: (
    size:                       1px,
    style:                      solid,
    color:                      $border-color
  )
);
$navbar-brand-width:                155px;
$navbar-brand-bg:                   #fff;
$navbar-brand-logo:                 url('../img/iris_logo.jpg');
$navbar-brand-logo-size:            70px auto;
$navbar-brand-border: (
  bottom: (
    size:                       1px,
    style:                      solid,
    color:                      $border-color
  )
);

$navbar-color:                      rgba(0,0,0,.3);
$navbar-hover-color:                rgba(0,0,0,.6);
$navbar-active-color:               rgba(0,0,0,.8);
$navbar-disabled-color:             rgba(0,0,0,.15);

// Sidebar

$sidebar-width:                     200px;
$sidebar-padding:                   0;
$sidebar-compact-width:             50px;
$sidebar-compact-height:            $sidebar-compact-width;
$sidebar-color:                     #fff;
$sidebar-bg:                        $gray-dark;
$sidebar-header-bg:                 rgba(0,0,0,.2);
$sidebar-footer-bg:                 rgba(0,0,0,.2);
$sidebar-borders:                   none;
$mobile-sidebar-width:              220px;

// Sidebar Navigation

$sidebar-nav-color:                 #fff;
$sidebar-nav-title-padding-y:       .75rem;
$sidebar-nav-title-padding-x:       1rem;
$sidebar-nav-title-color:           $gray-lighter;
$sidebar-nav-link-padding-y:        .75rem;
$sidebar-nav-link-padding-x:        1rem;
$sidebar-nav-link-color:            #fff;
$sidebar-nav-link-bg:               transparent;

$sidebar-nav-link-borders:          0;
$sidebar-nav-link-hover-color:      #fff;
$sidebar-nav-link-hover-bg:         $brand-primary;
$sidebar-nav-link-hover-icon-color: #fff !important;

$sidebar-nav-link-hover-borders:    0;
$sidebar-nav-link-active-color:     #fff;
$sidebar-nav-link-active-bg:        lighten($sidebar-bg, 5%);
$sidebar-nav-link-active-icon-color: $brand-primary;

$sidebar-nav-link-active-borders:   0;

$sidebar-nav-dropdown-color:        #fff;
$sidebar-nav-dropdown-bg:           rgba(0,0,0,.2);
$sidebar-nav-dropdown-borders:      0;

// Breadcrumb

$breadcrumb-borders: (
  bottom: (
    size:                           1px,
    style:                          solid,
    color:                          $border-color
  )
);

// Footer

$footer-height: 50px;
$footer-bg:     $gray-lightest;
$footer-color:  $body-color;
$footer-borders: (
  top: (
    size:                           1px,
    style:                          solid,
    color:                          $border-color
  )
);
