<div class="animated fadeIn">
  <md-card>
    <md-card-title>
      Settings <small class="text-muted">Show and change application settings.</small>
    </md-card-title>
    <md-card-content>
      <md-tab-group>
        <md-tab label="General">
          <div>
            <h4>Change/Reset User Password</h4>
            <p>
              <md-input-container>
                <input required mdInput placeholder="User name">
              </md-input-container>
            </p>
            <p>
              <md-input-container>
                <input required mdInput placeholder="Old Password">
              </md-input-container>
            </p>
            <p>
              <md-input-container>
                <input required mdInput placeholder="New Password">
              </md-input-container>
            </p>
            <p>
              <md-input-container>
                <input required mdInput placeholder="Old Password">
              </md-input-container>
            </p>
          </div>
        </md-tab>
        <md-tab label="User Management">

        </md-tab>
        <md-tab label="Security">Content 2</md-tab>
      </md-tab-group>
    </md-card-content>
  </md-card>
</div>
