<div class="animated fadeIn">
  <md-card>
    <md-card-title>
      Settings <small class="text-muted">Show and change application settings.</small>
    </md-card-title>
    <md-card-content>

      <md-tab-group>
        <md-tab label="General">
          <br>
          <form class="example-form">
            <md-form-field class="example-full-width">
              <input mdInput placeholder="Movement Near Expiry" >
              <md-hint align="start"><strong>Value must be in minute</strong> </md-hint>
              <span mdSuffix>Minutes</span>
            </md-form-field>
            <md-form-field class="example-full-width">
              <input mdInput placeholder="Movement Expiry" >
              <md-hint align="start"><strong>Value must be in minute</strong> </md-hint>
              <span mdSuffix>Minutes</span>
            </md-form-field>
            <button class="pull-right" md-raised-button>Submit</button>
          </form>
          <br><br>
        </md-tab>
        <!-- <md-tab label="User Management">
          <div class="col-sm-6">
            <h4>Change/Reset User Password</h4>
            <md-input-container>
              <input  mdInput placeholder="User name">
              <md-icon mdSuffix>check_circle</md-icon>
            </md-input-container>
            <form [formGroup]="changePasswordForm">
              <p>
                <md-input-container>
                  <input formControlName="newpassword" type="password" mdInput placeholder="New Password">
                </md-input-container>
              </p>
              <p>
                <md-input-container autocomplete="false">
                  <input formControlName="confirmpassword" type="password" mdInput placeholder="Confirm Password">
                  <md-error *ngIf="changePasswordForm.controls.confirmpassword.errors?.equalTo">
                      Password does not match
                  </md-error>
                </md-input-container>
              </p>
              <p>
                <button [disabled]="changePasswordForm.invalid" class="pull-right" md-raised-button>Update Password</button>
              </p>
            </form>

            <br>
            <br>
          </div>
          <div class="col-sm-6">

          </div>
          <div>

          </div>
        </md-tab> -->
        <md-tab label="Security">Security Settings</md-tab>
      </md-tab-group>
    </md-card-content>
  </md-card>
</div>
